body {
    margin: 0;
    //background-color: black !important;
}

main {
    background: transparent;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

// .game-container-x {
//     animation: transform-rotate-x 5s ease-in-out alternate infinite
// }

// .game-container-y {
//     animation: transform-rotate-y 7s ease-in-out alternate infinite
// }

// .game-container-z {
//     animation: transform-rotate-z 9s ease-in-out alternate infinite
// }

.gallery-game-container {
    box-shadow: 0 0 4rem 0.25rem rgba(0, 0, 0, 0.3);
    position: relative;
    border-radius: 0.5rem;
    animation: box-shadow-blink 2s ease-in-out alternate infinite;
    width: 1440px;
    height: 900px;
    border-radius: 1rem;
}

@media screen and(max-width:1600px) {
    .gallery-game-container {
        width: 1440px;
        height: 900px;
    }
}

@media screen and(max-width:1400px) {
    .gallery-game-container {
        width: 1280px;
        height: 720px;
    }
}

@media screen and(max-width:1200px) {
    .gallery-game-container {
        width: 1024px;
        height: 768px;
    }
}

@media screen and(max-width:1000px) {
    .gallery-game-container {
        width: 800px;
        height: 600px;
    }
}

@media screen and(max-width:800px) {
    .game-container-inner {
        width: 100%;
        height: 100%;
    }

    .gallery-game-container {
        width: 100%;
        height: 100px;
        flex-basis: 0;
        flex-grow: 1;
    }
}

@keyframes box-shadow-blink {
    0% {
        box-shadow: 0 0 8rem 0.25rem rgba(0, 0, 0, 0.3);
    }

    100% {
        box-shadow: 0 0 4rem 0.25rem rgba(0, 0, 0, 0.3);
    }
}

@keyframes transform-rotate-x {
    0% {
        transform: perspective(100vw) rotateX(5deg) translateX(1vw) scale(1.1);
    }

    100% {
        transform: perspective(120vw) rotateX(-5deg) translateX(-1vw);
    }
}

@keyframes transform-rotate-y {
    0% {
        transform: perspective(100vw) rotateY(5deg) translateY(1vw);
    }

    100% {
        transform: perspective(120vw) rotateY(-5deg) translateY(-1vw);
    }
}

@keyframes transform-rotate-z {
    0% {
        transform: perspective(100vw) rotateZ(5deg) translateZ(1vmax);
    }

    100% {
        transform: perspective(120vw) rotateZ(-5deg) translateZ(-1vmax);
    }
}

.game-container-inner {
    display: flex;
    flex-direction: column;
}

.gallery-navigator-external {
    border-radius: 0.5rem;
}

home {
    margin: 0;
    background: transparent;
}

#gallery-game-container {
    margin: 0;
    max-width: 100%; //background: black;
    background: transparent;
    position: relative;

    #gallery-game-layer-canvas {
        width: 100%;
        height: 100%;
        background: transparent;

        canvas {
            background: transparent;
            width: 100%;
            height: 100%;
            border-radius: 0.5rem;
        }
    }

    #gallery-game-layer-progress {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.62);
        border-radius: 0.5rem;

        .progress {
            position: absolute;
            top: 50%;
            left: 38%;
            width: 24%;
        }
    }

    .spinner {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        font-size: 20px;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        box-shadow: inset 0 0 0 .1em rgba(58, 168, 237, .2);

        i {
            position: absolute;
            clip: rect(0, 1em, 1em, .5em);
            width: 1em;
            height: 1em;
            animation: spinner-circle-clipper 1s ease-in-out infinite;

            &:after {
                position: absolute;
                clip: rect(0, 1em, 1em, .5em);
                width: 1em;
                height: 1em;
                content: '';
                animation: spinner-circle 1s ease-in-out infinite;
                border-radius: 50%;
                box-shadow: inset 0 0 0 .1em #3aa8ed;
            }
        }

        @keyframes spinner-circle-clipper {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(180deg);
            }
        }

        @keyframes spinner-circle {
            0% {
                transform: rotate(-180deg);
            }

            100% {
                transform: rotate(180deg);
            }
        }
    }

}

.gallery-fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}