body {
    margin: 0;
    background-color: black !important;
}

main {
    background: transparent;
}

.game-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.gallery-game-container {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.game-container-inner {
    display: flex;
    flex-direction: column;
}

home {
    margin: 0;
    background: transparent;
}

#gallery-game-container {
    margin: 0;
    background: transparent;
    position: relative;

    #gallery-game-layer-canvas {
        width: 100%;
        height: 100%;
        background: transparent;

        canvas {
            background: transparent;
            width: 100%;
            height: 100%;
        }
    }

    #gallery-game-layer-progress {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.62);
        border-radius: 0.5rem;

        .progress {
            position: absolute;
            top: 50%;
            left: 38%;
            width: 24%;
        }
    }

    .spinner {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        font-size: 20px;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        box-shadow: inset 0 0 0 .1em rgba(58, 168, 237, .2);

        i {
            position: absolute;
            clip: rect(0, 1em, 1em, .5em);
            width: 1em;
            height: 1em;
            animation: spinner-circle-clipper 1s ease-in-out infinite;

            &:after {
                position: absolute;
                clip: rect(0, 1em, 1em, .5em);
                width: 1em;
                height: 1em;
                content: '';
                animation: spinner-circle 1s ease-in-out infinite;
                border-radius: 50%;
                box-shadow: inset 0 0 0 .1em #3aa8ed;
            }
        }

        @keyframes spinner-circle-clipper {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(180deg);
            }
        }

        @keyframes spinner-circle {
            0% {
                transform: rotate(-180deg);
            }

            100% {
                transform: rotate(180deg);
            }
        }
    }

}

.gallery-fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}