<html>

<head>
    <title>Gallery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- User CSS -->
    <link rel="stylesheet" type="text/css" href="../styles/gallery.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117170066-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-117170066-2');
    </script>

    <!-- CNZZ -->
    <script type="text/javascript">
        document.write(unescape(
            "%3Cspan style='display:none' id='cnzz_stat_icon_1271725745'%3E%3C/span%3E%3Cscript src='" +
            "https://s22.cnzz.com/z_stat.php%3Fid%3D1271725745%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"
        ));
    </script>
</head>

<body>
    <home>
        <div class="game-container">
            <div id="gallery-game-container" class="gallery-game-container">
                <div id="gallery-game-layer-canvas" class="layer-canvas">
                    <canvas id="gallery-game-canvas">Your browser doesn't support the canvas
                        tag.</canvas>
                </div>
                <div id="gallery-game-layer-progress" class="layer-progress fade show">
                    <div class="spinner"><i></i></div>
                </div>
            </div>
        </div>
        <div class="gallery-fixed">
            <div class="navigation-bar">
                <div class="collapse" id="navbarToggleExternalContent">
                    <div class="gallery-navigator-external bg-dark p-4">
                        <h4 class="text-white" id="gallery-navigator-title-header">General Engine
                        </h4>
                        <span class="text-muted" id="gallery-navigator-title-description">🚀 Build creative
                            scenarios by general system.</span>
                        <div>
                            <a href="https://github.com/experdot/general-engine/" class="badge badge-info">Github</a>
                            <a href="https://www.npmjs.com/package/general-engine" class="badge badge-secondary">npm</a>
                        </div>
                    </div>
                </div>

                <nav class="gallery-navigator navbar navbar-dark bg-dark">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon btn-sm"></span>
                    </button>

                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                        <div class="btn-group">
                            <button type="button" class="btn btn-dark bg-transparent" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">G</button>
                            <div id="gallery-navigator-dropdown" class="dropdown-menu">

                            </div>
                        </div>
                        <button type="button" class="btn btn-dark bg-transparent" data-toggle="tooltip"
                            data-placement="bottom" title="Restart" id="gallery-navigator-restart">R</button>
                        <button type="button" class="btn btn-dark bg-transparent" data-toggle="tooltip"
                            data-placement="bottom" title="Fullscreen" id="gallery-navigator-fullscreen">F</button>
                    </div>

                    <div id="gallery-navigator-frame" class="text-white">00</div>
                </nav>
            </div>
            <div id="gallery-alert-container"> </div>
        </div>
    </home>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

    <script src="../static/TinyMusic/TinyMusic.min.js" type="text/javascript"></script>

    <script src="../scripts/bundle.min.js" type="text/javascript"></script>
</body>

</html>