<html>

<head>
    <title>Particles</title>
    <link rel="stylesheet" type="text/css" href="../styles/particles.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117170066-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-117170066-2');
    </script>
</head>

<body>
    <header>
    </header>
    <main>
        <home>
            <div id="button-rebuild" class="button-rebuild">Click here to restart!</div>
            <div id="gamebox" class="gamebox">
                <div class="canvas-container">
                    <canvas id="canvas">Your browser doesn't support the canvas tag.</canvas>
                </div>
            </div>
            <div id="button-viewongithub" class="button-viewongithub">
                <a href="https://github.com/experdot/General.JS.git">View On GitHub</a>
            </div>
        </home>
    </main>
    <footer>

    </footer>
</body>
<foot>
    <script src="../scripts/bundle.min.js" type="text/javascript"></script>
    <script>
        var gamebox = document.getElementById("gamebox");
        var canvas = document.getElementById("canvas");
        var rebuildButton = document.getElementById("button-rebuild");
        var box;

        window.addEventListener("resize", function () {
            box.stop();
            startGame();
        });
        rebuildButton.addEventListener("click", function () {
            box.stop();
            startGame();
        })

        startGame();

        function startGame() {
            canvas.width = document.body.clientWidth;
            canvas.height = document.body.clientHeight;
            box = new Natural2D.GameStarter().launch(canvas);
            box.run();
        }
    </script>
</foot>

</html>