@import "_modules/font.scss";
@import "_modules/standard.scss";
* {
    box-sizing: border-box;
}

html {
    font-size: 5vw;
}

@media screen and (min-width:1200px) {
    html {
        font-size: 1vw;
    }
}

body {
    background: #EEEEEE;
    margin: 0rem;
}

home {
    margin: auto;
    .button-rebuild {
        position: fixed;
        width: 100%;
        color: #CCCCCC;
        background: rgba(0, 0, 0, 0.6);
        text-align: center;
        cursor: pointer;
        font-size: 1rem;
    }
    .button-viewongithub {
        position: fixed;
        width: 100%;
        bottom: 0;
        background: rgba(0, 0, 0, 0.6);
        text-align: center;
        cursor: pointer;
        font-size: 1rem;
        a {
            color: #CCCCCC;
            text-decoration: none;
        }
    }
    .gamebox {
        margin: auto;
        width: 120rem;
        max-width: 100%;
        canvas {
            background: black;
        }
    }
}