body {
    margin: 0;
    background-color: black !important;
}

main {
    background: transparent;
}

home {
    margin: 0;
    background: transparent;
    .gallery-game {
        margin: 0;
        max-width: 100%; //background: black;
        background: transparent;
        position: relative;
        .layer-canvas {
            width: 100%;
            height: 100%;
            background: transparent;
            canvas {
                background: transparent;
            }
        }
        .layer-progress{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.8);

            .progress{
                position: absolute;
                top:50%;
                left:31%;
                width: 38%;
            }
        }
    }
    .gallery-fixed {
        position: fixed;
        left: 0;
        top:0;
        width: 100%;
    }
}